.shopwithus {
  position: relative;
  color: var(--gray);
}

.shopwithus .what-we-do {
  width: 100%;
  height: 45rem;
  background: url(https://img.freepik.com/free-psd/happy-customer-signing-delivery-from-courier-isolated-background-man-signing-receipt-package-delivery-delivery-concept-3d-render-cartoon-character_1150-61970.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopwithus .what-we-do h1 {
  width: 90%;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  color: var(--white);
  margin: 0;
}

.second_section {
  padding-top: 70rem;
}

.shopwithus .first_inner_section {
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  position: absolute;
  top: 38rem;
  left: 0;
  padding-bottom: var(--size-large1);
}
